<h3>{{ _('OctocloakConnect Configuration') }}</h3>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Proxy URL') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: proxy">
        </div>
    </div>
</form>
